.home-title{
    font-size: rem(52);
    color: #0e0e0e;
    &:after{
        content: '';
        width: 40%;
        height: 8px;
        background: $color-primary;
        display: block;
        border-radius: 1em;
        margin-top: 15px;
    }
}