.l-home-section{
    height: 100vh;
    position: relative;
    padding: 6vh 0;
    min-height: 600px;
    display: flex;
    flex-direction: column;
}
.l-welcome-buttom{
   display: flex; 
   align-items: center;
}

.l-home-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    &--center{
        justify-content: center;
    }
}