.l-ideas{
    background: url("#{$img-path}/ideas-bg.png") no-repeat #{$right} bottom, url("#{$img-path}/ideas-pattern.png") no-repeat #{$left} top;
    background-size: auto 97%, auto;
    padding-top: 10vh;
}
.l-ideas__title{
    font-size: rem(38);
    color: $color-text;
    margin-bottom: 20px;
    &--light{
        color: #fff;
    }
}
.l-ideas__description{
    font-size: rem(16);
    color: $color-text;
    line-height: 1.6;
    &--light{
        color: #fff;
    }
}
.l-ideas__actions{
    margin-top: 5vh;
    display: flex;
    // justify-content: center;
    > .button + .button{
        @supports (margin-inline-start: 20px){
            margin-inline-end: 20px;
            color: #fff;
        }
        @supports (margin-inline-start: 20px){
            margin-#{$left}: 20px;
        }
    }
}
.l-ideas__details{
    display: flex;
    margin-top: 10vh;
}