
.sideLinks{
    background-image: url("#{$img-path}/sideBox-bg1.jpg");
    background-repeat: no-repeat;
    // background-size: 50%;
    background-position: top left;
    margin-bottom: 0;
    @include breakpoint(isCommon){
        margin-top: 40px;
    }
}