.l-sideImg {
    height: 525px;
    background-image: url("#{$img-path}/sideBox-bg1.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top left;
    box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.1)
}