#s4-workspace {
    overflow: hidden;
    height: auto !important;
}

a:visited {
    color: inherit;
}

body {
    overflow: auto !important;
    height: auto !important;
}

#pageStatusBar[class],
.ms-status-msg {
    margin-bottom: 0;
}

#s4-bodyContainer {
    padding-bottom: 0;
}

.ms-ToolPaneOuter {
    font-family: Segoe UI, Tahoma;
    z-index: 10;
    position: relative;
    font-size: 13px;
    #{$right}: 20px;
}

input[type=text].form-control{
    padding: 0.375rem 0.75rem;
}